
@{
    ViewBag.Title = "CAddBookofStudent";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@if (ViewData["Error"] != null)
{
    <div class="alert-danger"><i class="glyphicon glyphicon-alert"></i> @ViewData["Error"] </div>
}

