@model LibraryAutomation.Models.UserVM
@{
    ViewBag.Title = "SifreDegistir";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div class="panel panel-default">
    <div class="panel panel-heading"></div>
    <div class="panel panel-body">

        @if (TempData["msg"] != null)
        {
            <div class="alert-success"><i class="glyphicon glyphicon-check"></i> @TempData["msg"] </div>
        }


        @using (Html.BeginForm())
        {
            <div class="form-group">
                <p>yeni şifre</p>
                @Html.TextBoxFor(a=>a.Password, new { @class = "form-control" })
          
                </div>

                <input type="submit" value="kaydet">

        }


    </div>
</div>

